* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body*/
body {
    width: 800px;
    margin: 0 auto;
}

/*header*/
header {
    background-color: #8f8f8f;
}

header h1 {
    padding-left: 10px;
    height: 50px;
    font-family: sans-serif;
}

header nav {
    padding-left: 40px;
    background-color: #2036f7;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    line-height: 60px;
    padding-right: 10px;
    color: #ffffff;
}

/*content*/
.content {
    overflow: hidden;
    width: 100%;
}

/*main*/

.content main {
    background-color: #ffffff;
    width: 550px;
    float: right;
    padding-bottom: 500px;
    margin-bottom: -500px;
}

.content main article, .content aside p {
    font-family: sans-serif;
}

.content main article {
    padding-top: 20px;
}

.content main article .article__text {
    padding: 0 10px;
}

.content main article .article__foot {
    height: 128px;
    margin-top: 25px;
}

.content main article .article__foot .foot {
    padding: 0 10px;
    text-align: justify;
    height: 128px;
    line-height: 128px;
}

.content main article .article__foot .foot span {
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
}

.content main article .foot__left {
    background-color: #4e8b20;
    width: 50%;
    float: left;
}

.content main article .foot__right {
    background-color: #dc2b06;
    width: 50%;
    float: right;
}

/*aside*/
.content aside {
    float: left;
    vertical-align: top;
    margin-right: -4px;
    width: 250px;
}

.content aside .aside {
    height: 150px;
    width: 100%;
}

.content aside .aside--1 {
    background-color: #fefb3b ;
}

.content aside .aside--2 {
    background-color: #8f8f8f;
}

.content aside ul li {
    margin-left: 40px;
}

.content aside a {
    display: block;
}

/*footer*/
footer {
    background-color: #2036f7;
    font-family: sans-serif;

}

footer h2 {
    font-weight: bold;
    text-align: center;
    line-height: 50px;
}


